* {
  --main-bg: white;

  --header-bg: #525252;
  --header-content: white;
  --backdrop: rgba(0, 0, 0, 0.5);
  --spinner: #525252;

  --card-bg: #525252;
  --card-content: white;
  --card-border: #525252;
  --card-bg-alter: white;
  --card-content-alter: black;

  --article-content: black;
  --article-border: #ebebeb;
  --article-content-alter: #525252;

  --code-bg: #ebebeb;
  --code-border: #525252;
  --code-content: #525252;

  --icon-bg: #ebebeb;
  --icon-border: #525252;
  --icon-content: black;
  --icon-bg-alter: #525252;
  --icon-content-alter: white;

  --nav-bg: white;
  --nav-content-bold: black;
  --nav-content: #525252;
  --nav-border: #525252;
  --nav-border-alter: white;
}

@media (prefers-color-scheme: dark) {
  * {
  }
}
