main {
  padding: 0;
  display: flex;
  position: relative;
}

main article {
  padding: 0.5rem;
  margin-top: 1rem;
}

main article {
  width: 100%;
}

main aside {
  width: 50%;
  height: 100%;
  padding-top: 3.5rem;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

main aside nav {
  padding: 1rem;
}

main aside.open {
  transform: translateX(0);
}

article h1,
article h2,
article h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

article h1:first-of-type {
  margin-top: 0;
}

article blockquote {
  font-weight: bold;
  color: #525252;
  border-left: 0.5rem solid #9b9b9b;
  background: #ebebeb;
  margin: 0 1rem;
  padding: 0.2rem;
}

article p {
  text-align: center;
}

article pre {
  display: flex;
  justify-content: space-between;
  background: #ebebeb;
  padding: 1rem;
  border-radius: 0.5rem;
}

article pre code {
  max-width: 28rem;
  overflow-x: auto;
}

.copy-icon {
  width: 2rem;
  height: 2rem;
  fill: black;
  border-radius: 0.5rem;
  cursor: pointer;
}

.copy-icon:hover,
.copy-icon:active {
  background: #9b9b9b;
}

.copy-icon-done {
  width: 2rem;
  height: 2rem;
  fill: black;
  border-radius: 0.5rem;
}

article li {
  margin: 0.32rem 0;
}

article li code {
  background: #ebebeb;
  padding: 0.1rem 0.2rem;
  border-radius: 0.5rem;
}

article p img {
  margin-top: 1rem;
  width: 100%;
}

footer {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.link-github svg {
  width: 2rem;
  height: 2rem;
}

.upToTop {
  background: var(--secondary-main-color);
  border: 0px;
  border-radius: 50%;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  padding: 0;
  cursor: pointer;
}

.upToTop:active,
.upToTop:hover {
  background: var(--primary-text-color);
  border: 0.1rem solid var(--secondary-main-color);

  svg {
    fill: var(--secondary-main-color);
  }
}

aside ul {
  padding-left: 1rem;
}

aside li {
  list-style-type: none;
}

aside a {
  text-decoration: none;
  color: #525252;
  font-weight: bold;
  padding-left: 0.5rem;
  border-left: 0.5rem solid white;
}

aside a:hover,
aside a:active {
  border-left: 0.5rem solid #9b9b9b;
}

@media (min-width: 40rem) {
  main {
    width: 100%;
  }

  main article {
    width: 70%;
    border-right: 1px solid #ccc;
    padding: 1rem;
  }

  main aside {
    width: 30%;
    height: max-content;
    min-width: 12rem;
    padding-top: 0.5rem;
    position: sticky;
    transform: translateX(0);
    transition: initial;
  }

  aside h2 {
    margin-top: 0;
    padding-top: 0;
  }

  article p img {
    max-width: 28rem;
  }
}
