main {
  border: 1px solid #ccc;
  border-top: 0px;
  border-bottom: 0px;
}

main h1,
main h2,
main h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

main h1:first-of-type {
  margin-top: 0;
}

main blockquote {
  margin: 0;
  font-weight: bold;
  color: #525252;
}

main p {
  text-align: center;
}

main pre {
  position: relative;
  background: #ebebeb;
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: max-content;

  .copy-icon {
    display: none;
  }
}

main pre:hover,
main pre:active {
  .copy-icon {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    fill: black;
    border-radius: 0.5rem;
  }

  .copy-icon:hover,
  .copy-icon:active {
    background: #a7a7a7;
  }
}

main li {
  margin: 0.32rem 0;
}

main li code {
  background: #ebebeb;
  padding: 0.1rem 0.2rem;
  border-radius: 0.5rem;
}

main p img {
  margin-top: 1rem;
  width: 100%;
}

footer {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.link-github svg {
  width: 2rem;
  height: 2rem;
}

.upToTop {
  background: var(--secondary-main-color);
  border: 0px;
  border-radius: 50%;
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  width: 3rem;
  height: 3rem;
  padding: 0;
  cursor: pointer;
}

.upToTop:active,
.upToTop:hover {
  background: var(--primary-text-color);
  border: 0.1rem solid var(--secondary-main-color);

  svg {
    fill: var(--secondary-main-color);
  }
}

@media (min-width: 40rem) {
  main {
    min-width: max-content;
  }

  main p img {
    max-width: 35rem;
  }
}
